/* 重置 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;font: inherit;vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
/* webkit引擎的浏览器取消默认样式(-webkit-appearance) */
input,textarea{-webkit-user-select:auto !important;user-select:auto !important;/*-webkit-appearance:none;*/}
input[type="submit"],input[type="reset"],input[type="button"],input[type="password"],input[type="text"],button{-webkit-appearance:none;outline:none;}
:focus{outline:none;}
img{vertical-align:middle;border:0 none;}
a{text-decoration:none;color:inherit;}
section{display:block;margin:0 auto;}
header,footer{margin:0 auto;width:100%;}
em,i{font-style:normal;}
button,input{border:0 none;}
u,del{text-decoration:none;}


.fixed:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
.fixed { display: block; min-height: 1%; }
.clear { diplay: block!important; float: none!important; clear: both; overflow: hidden; width: auto!important; height: 0!important; margin: 0 auto!important; padding: 0!important; font-size: 0; line-height: 0; }
/*基于display:table-cell的自适应布局*/
.cell{display:table-cell; *display:inline-block; width:2000px; *width:auto;}
/*双栏自适应cell部分连续英文字符换行*/
.cell_bk{display:table; width:100%; table-layout:fixed; word-wrap:break-word;}
/*单行文字溢出虚点显示*/
.ell{text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}

html, a {-webkit-tap-highlight-color: transparent}
textarea.fixAndroidKeyboard:focus, input.fixAKeyboard:focus {-webkit-tap-highlight-color: rgba(255,255,255,0);-webkit-user-modify: read-write-plaintext-only}

.noscroll {position: absolute;width: 100%;height: 100%;overflow: hidden;}
.hidden {display: none !important;}

html, body {line-height: 1;width: 100%;font-family: "helvetica neue",arial,sans-serif;-webkit-text-size-adjust: none;  }
body { visibility: hidden;background-color:#151925;}

@-webkit-keyframes fadeIn{0%{opacity:0}
50%{opacity:.5}
100%{opacity:1}
}
.jbox{-webkit-animation-name: fadeIn; /*动画名称*/
-webkit-animation-duration: .3s; /*动画持续时间*/
-webkit-animation-iteration-count: 1; /*动画次数*/
-webkit-animation-delay: 0s; /*延迟时间*/}

/* 默认 */
.dn{display:none;}.db{display:block;}.dib{display:inline-block;}.di{display:inline;}
.h14{height:14px;}.h16{height:16px;}.h18{height:18px;}.h20{height:20px;}.h22{height:22px;}.h24{height:24px;}
.lh14{line-height:14px;}.lh16{line-height:16px;}.lh18{line-height:18px;}.lh20{line-height:20px;}.lh22{line-height:22px;}.lh24{line-height:24px;}
.m0{margin:0;}.ml1{margin-left:1px;}.ml2{margin-left:2px;}.ml5{margin-left:5px;}.ml10{margin-left:10px;}.ml20{margin-left:20px;}.mr1{margin-right:1px;}.mr2{margin-right:2px;}.mr5{margin-right:5px;}.mr10{margin-right:10px;}.mr20{margin-right:20px;}.mt1{margin-top:1px;}.mt2{margin-top:2px;}.mt5{margin-top:5px;}.mt10{margin-top:10px;}.mt20{margin-top:20px;}.mb1{margin-bottom:1px;}.mb2{margin-bottom:2px;}.mb5{margin-bottom:5px;}.mb10{margin-bottom:10px;}.mb20{margin-bottom:20px;}.ml-1{margin-left:-1px;}.mt-1{margin-top:-1px;}
.p1{padding:1px;}.pl1{padding-left:1px;}.pt1{padding-top:1px;}.pr1{padding-right:1px;}.pb1{padding-bottom:1px;}.p2{padding:2px;}.pl2{padding-left:2px;}.pt2{padding-top:2px;}.pr2{padding-right:2px;}.pb2{padding-bottom:2px;}.pl5{padding-left:5px;}.p5{padding:5px;}.pt5{padding-top:5px;}.pr5{padding-right:5px;}.pb5{padding-bottom:5px;}.p10{padding:10px;}.pl10{padding-left:10px;}.pt10{padding-top:10px;}.pr10{padding-right:10px;}.pb10{padding-bottom:10px;}.p20{padding:20px;}.pl20{padding-left:20px;}.pt20{padding-top:20px;}.pr20{padding-right:20px;}.pb20{padding-bottom:20px;}
.g0{color:#3ec9e6 !important;}.g3{color:#333;}.g6{color:#666;}.g9{color:#999;}.wh{color:white;}
.f0{font-size:0;}.f10{font-size:10px;}.f12{font-size:12px;}.f13{font-size:13px;}.f14{font-size:14px;}.f16{font-size:16px;}.f20{font-size:20px;}.f24{font-size:24px;}
.fa{font-family:Arial;}.ft{font-family:Tahoma;}.fv{font-family:Verdana;}.fs{font-family:'宋体';}.fw{font-family:'微软雅黑';}
.n{font-weight:normal; font-style:normal;}.b{font-weight:bold;}.i{font-style:italic;}
.tc{text-align:center;}.tr{text-align:right;}.tl{text-align:left;}.tj{text-align:justify;}
.tdl{text-decoration:underline;}.tdn,.tdn:hover,a.tdl:hover{text-decoration:none;}
.lt0{letter-spacing:0;}lt1{letter-spacing:1px;}
.wrap{white-space:nowrap;}
.bk{word-wrap:break-word;}
.vm{vertical-align:middle;}.vtb{vertical-align:text-bottom;}.vb{vertical-align:bottom;}.vt{vertical-align:top;}.vn{vertical-align:-2px;}
.l{float:left;}.r{float:right !important;}
.cl{clear:both;}
.rel{position:relative;}.abs{position:absolute;}
.zx1{z-index:1;}.zx2{z-index:2;}
.poi{cursor:pointer;}.def{cursor:default;}
.ovh{overflow:hidden;}
.vh{visibility:hidden;}.vv{visibility:visible;}
.z{*zoom:1;}
.noborder{ border: 0 !important;}

/* 统一调用背景图 */

/* 统一清除浮动 */
.g_doc:after{display:block;visibility:hidden;clear:both;height:0;overflow:hidden;content:'.';}


/* 布局grid 头部、主体、主栏、侧栏、尾部*/
/** 顶部导航 **/
.nheader{position:fixed;top:0rem;z-index:99;height:46px;width:100%; float:left;max-width: 750px; background: #151925;box-shadow: 0 0 4px rgba(0,0,0,.2);}
.nindex_back{ width:46px; height:46px; display:block; float:left;text-align: center;}
.nindex_back i{font-size: 25px;color: #ffffff;width: 46px;height: 46px;display: block;float: left;line-height: 40px; }
.nindex_text{ width:80%; margin:0 auto; text-align:center; font-size:18px; color:#ffffff;height:46px;line-height:46px;}

.nhr{width:100%; height:.22rem; background:#1c2131; display:block; float:left;}
.cont{width:100%;position: relative;max-width: 750px; margin-top:46px; display: block; float: left;}
/*中间框架*/
.nwrapper{
  width: 100%;
  position: relative;
  max-width: 750px;
  min-width: 320px;
  margin: 0 auto;
}



/* 模块module 导航、登录、注册、各种列表、评论、搜索*/
.ad{width: 100%; height: 100%; display: block; float: left; position: fixed; top: 0; left: 0; z-index: 999999999999999999;}
.ad a,.ad img{ width: 100%; height: 100%; display: block; float: left; position: fixed; top: 0; left: 0;}
.ad_close{width: 50px; height: 40px; padding: 5px 0; display: block; float: left; position: fixed; top:10px; right: 10px;  z-index: 99; background: rgba(0,0,0,.5); border-radius: 50px; font-size: 14px; color: #ffffff; text-align: center; line-height: 20px;}
.ad_close em{width: 100%; height: auto; display: block; float: left;line-height: 15px;font-size: 16px;}


.ad.close{ animation: close 1s;-webkit-animation: close 1s;animation-fill-mode: forwards;-webkit-animation-fill-mode: forwards;opacity: 1;}
.ad.close img{ animation: close 1s;-webkit-animation: close 1s;animation-fill-mode: forwards;-webkit-animation-fill-mode: forwards;opacity: 1;}
@-webkit-keyframes close{
	from { opacity: 1; display: block; width: 100%; height: 100%; left: -0px; top: 0;}
    to { opacity: 0; display: none;width: 150%; height: 150%;left: -20%; top: -15%;}
}

/* 元件unit 按钮、输入框、loading、图标  */
.ajax_noload{ width: 90%;background: rgba(0,0,0,.8);text-align: center;padding: 15px 5%; font-size: 15px;height:20px; line-height:15px;position: fixed;top: 46px;left: 0; z-index: 999999;color: #ffffff;text-align: left;display:none;}
.ajax_noload i{ width:20px; height:20px; display:block; float:left; font-size: 20px; color: #ffffff; margin: 0 5px 0 0;}
.nlist_nomore{ width:25%; height:auto; display:none; float: left; margin:-1rem 37.5% 0rem; opacity: .4; }
.nlist_no{ width:40%; height:auto; display:none;margin: -1rem 30% 1rem;float: left; opacity: .8;}
.nlist_loading{ width:20%; height:auto; display:block;  margin:-1.2rem 40% 0; float: left;}
.one_loading .nlist_loading{ margin:.5rem 40% 0;}
.cover-decision{width: 100%;opacity: .9;height: 100%;position: fixed;background-color:#151925;top: 0;left: 0;z-index: 99999;}
.item_tips{ width:90%; height: auto; display: none; float: left; margin: 15px 5%; font-size: 14px; line-height: 30px; color:#3ec9e6; text-align: center;}
.err_msg{background: #1c2131;display: table;margin: auto;padding: 3px 8px;border-radius: .08rem;margin-top:-5%; opacity: 0;}

.err_msg.show{animation: err_show .5s;animation-delay:.1s;-webkit-animation: err_show .5s;-webkit-animation-delay:.1s;animation-fill-mode: forwards;-webkit-animation-fill-mode: forwards;opacity: 0; margin-top:-5%; opacity: 0; }
@-webkit-keyframes err_show{from {margin-top:-5%; opacity: 0;}to {margin-top:0%; opacity: 1;}}

.loading{ width: 100%; height: 100%; position: fixed; top: 0; left: 0; background:#151925; z-index: 98;}
.loading img{ width: 2rem; height: 2rem; position: fixed; top: 50%; left: 50%; margin: -1rem 0 0 -1rem;  z-index: 99999;}

.loading.close{ animation: close 1s;-webkit-animation: close 1s;animation-fill-mode: forwards;-webkit-animation-fill-mode: forwards;opacity: 1;}
.loading.close img{ animation: loading_close 1s;-webkit-animation: loading_close 1s;animation-fill-mode: forwards;-webkit-animation-fill-mode: forwards;opacity: 1;}
@-webkit-keyframes loading_close{
	from { opacity: 1; display: block; }
    to { opacity: 0; display: none;}
}

/* 功能function 固定样式*/
/* 皮肤skin 文字色、背景色（图）、边框色*/



@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-wifi:before { content: "\e60d"; }

.icon-phone:before { content: "\e622"; }

.icon-jiantou:before { content: "\e635"; }

.icon-shuaxin2:before { content: "\e619"; }

.icon-xinwen:before { content: "\e6cb"; }

.icon-ad80:before { content: "\e60b"; }

.icon-back:before { content: "\e63d"; }

.icon-wode:before { content: "\e706"; }

.icon-ditu-copy:before { content: "\e633"; }

.icon-qiandao:before { content: "\e655"; }

.icon-iconset0248:before { content: "\e693"; }

.icon-weizhizhuangtai:before { content: "\e61f"; }

.icon-fenlei:before { content: "\e657"; }

.icon-jifen:before { content: "\e653"; }

.icon-notice-copy:before { content: "\e606"; }

.icon-lishiduihuan:before { content: "\e643"; }

.icon-weibiaoti2010104:before { content: "\e63a"; }

.icon-yuyin:before { content: "\e61e"; }

.icon-shoujihaoma:before { content: "\e602"; }

.icon-yuyuying:before { content: "\e76f"; }

.icon-zanting-:before { content: "\e770"; }

.icon-xiayiqu-:before { content: "\e771"; }